
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    display: grid;
    grid-template-rows: 1fr 10fr;
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
}

.header {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    border: 1px solid red;
    font-size: 40px;
    text-align: center;
    align-content: center;
}
.content-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
}

.sidebar {
    
    grid-row: 1 / 3;
    border: 1px solid blue;
}

.sidebar .projects {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 1px solid gold;
    font-size: 30px;
}

.sidebar .project-name {
    text-align: center;
}

.todo-container {
    display: flex;
    border: 1px solid greenyellow;
    grid-row: 1 / 3 ;
}
