* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.sidebar .odin-img {
    width: 50px;
    pointer-events: none;
    opacity: 0;
    
    
}

.sidebar.active .odin-img {
    width: 50px;
    opacity: 1;
    
    
}

.sidebar .user {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-img {
    width: 50px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: gray;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    border: 1px solid red;

}

.sidebar.active ~ .main-content {
    left: 300px;
    width: calc(100% - 300px);
}

.sidebar.active {
    width: 300px;
}

.sidebar #btn {
    position: absolute;
    left: 50%;
    font-size: 1.2rem;
    transform: translateX(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    display: flex;
    flex-direction: column;

}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    display: flex;
    align-items: center;
}

.add-btn {
    height: 2rem;
    width: 2rem;
}

.sidebar ul li input {
    color: antiquewhite;
    display: flex;
    align-items: center;
    text-decoration: none;
    flex: auto;
    height: 2rem;
}

.sidebar ul li input:hover {
    background-color: antiquewhite;
    color: black;
}

.sidebar .nav-item {
    opacity: 0;
    color: black;
    font-size: 20px;
    display: flex;
    flex: auto;
    text-align: center;
    width: -webkit-fill-available;

}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: .4;
    font-size: 2rem;
    font-family: emoji;
    cursor: pointer;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background-color: aqua;
    min-height:  100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
}


/* .sidebar .top .logo {
    color: aquamarine;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    
} */

/* .sidebar.active .top .logo {
    opacity: 1;
} */